In [51]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [52]:
data=pd.read_excel('C:/Users/USER/Desktop/DSA/Sales_add.xlsx')

In [53]:
data.head(3)

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22 entries, 0 to 21
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Month                           22 non-null     object
 1   Region                          22 non-null     object
 2   Manager                         22 non-null     object
 3   Sales_before_digital_add(in $)  22 non-null     int64
 4   Sales_After_digital_add(in $)   22 non-null     int64
dtypes: int64(2), object(3)
memory usage: 1008.0+ bytes

In [55]:
data.columns

Index(['Month', 'Region', 'Manager', 'Sales_before_digital_add(in $)',
       'Sales_After_digital_add(in $)'],
      dtype='object')

# The company wishes to clarify whether there is any increase in sales after 
stepping into digital marketing.

In [56]:
#Ho:There is no increase in sales after stepping into digital marketing vs
#H1:There is increase in sales after stepping into digital marketing

In [57]:
#since here sample size is <30 we can use Two smaple t test

In [58]:
from scipy.stats import ttest_ind

In [59]:
t_test,p_value=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [60]:
p_value

2.614368006904645e-16

In [61]:
if p_value<0.05:
    print('Null Hypothesis Rejected')
else:
    print(' Null Hypothesis Accepted')

Null Hypothesis Rejected

In [62]:
#Result:- stepping to digital marketing methods makes an increase in the sales of the product

# The company needs to check whether there is any dependency between 
the features “Region” and “Manager”.

In [99]:
#H0:The variables Region and Managers are independent 
#H1:The variables Region and Managers are dependent

In [64]:
# to check the dependency we can use chi square test of independence

In [65]:
from scipy.stats import chi2_contingency

In [94]:
contingency=pd.crosstab(data['Region'],data['Manager'])

In [95]:
contingency

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [97]:
chi,p_value,dof,expected=chi2_contingency(contingency)

In [98]:
if p_value<0.05:
    print('Null Hypothesis Rejected')
else:
    print(' Null Hypothesis Accepted')

 Null Hypothesis Accepted

In [ ]:
#Result: there is no relation between the Region and Managers